// VARIABLES
$primary-color: #222;
$secondary-color: #ded0cf;
$primary-bckgnd-color: #FFF;
$secondary-bckgnd-color: #EEE;
$third-bckgnd-color: #DDD;
$font-stack-secondary: "Program Nar OT", Arial, sans-serif;
$font-stack-primary: "Program OT Book", Arial, sans-serif;
$secondary-font-size: 1.2rem;
$primary-font-size: 1.6rem;
$medium: "(min-width: 768px)";