// BASE

/*** Structure ***/
.clear:after {
    content: "";
    display: table;
    clear: both; 
}

body {
    max-width: 1200px;
    @extend %center-element;
}

.box {
    @extend %center-element;
    width: 100%;
    
    .column {
    background-color: $primary-bckgnd-color;
    height: auto;
    padding: 0.625rem;
    width: 100%;
    @extend %center-element;
    }
    
    @media only screen and #{$medium} {
    display: flex;
    justify-content: center;
    }
}

.column:nth-of-type(2) {
    background-color: $secondary-bckgnd-color;
}

.column:nth-of-type(3) {
    background-color: $third-bckgnd-color;
}


/*** Typography ***/
h1 {
    @extend %center-element;
    margin-top: 0;
    @include font($font-stack-primary, 3rem, $secondary-color);
    font-weight: bold;
    text-align: center;
    background-color: $primary-color;
    height: auto;
    padding: 1.1rem 0;
}

h2 {
    @include font($font-stack-primary, $primary-font-size, $primary-color);
    margin-bottom: 1rem;
}

h3 {
    @include font($font-stack-secondary, $primary-font-size, $primary-color);
    font-weight: bold;  
    padding: 0.625rem 0;
}

#h3-price {
    text-align: right;
}

p {
    @include font($font-stack-secondary, $secondary-font-size, #444);
    font-weight: bold;
}

.font {
    font-weight: 100;
    font-family: $font-stack-secondary;
    padding-bottom: .5rem;
}

#size, 
#color {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

#shipping p {
    color: #444;
    font-weight: 100;
}

#errName,
#errEmail,
#errAddress1,
#errCity,
#errState,
#errZipcode,
#errOrder {
    color: #FF0000;
    padding-bottom: .5rem;
    width: 100%;
    font-size: 1rem;
}

#errOrder {
    margin-top: 1rem;
}

/*** Images ***/
#shirt {
    width: 100%;
}

#checkmark {
   margin: 4rem auto 10rem auto;
   display: block;
}

/*** Order Completion ***/
.orderContent {
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    
    @media only screen and #{$medium} {
        margin-top: 10rem;
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }
}

#orderSum
{
    @extend %center-element;
    max-width: 90%;
    
    @media only screen and #{$medium} {
        max-width: 400px;
    }
}

#orderSum h3 {
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 2rem;

}

#orderSum .free p {
    font-weight: 200;
    color: #444;
}

.shipping-detail {
    margin-top: 2rem;
}

.shipping-detail p {
    font-weight: 200;
    line-height: 1.6rem;
}

/*** Footer ***/    
footer {
    @extend %center-element;
    font-family: $font-stack-secondary;
    color: $secondary-color;
    text-align: center;
    background-color: $primary-color;
    height: 50px;
    padding: 1.1rem 0 0 0;
}
